* {
      border: 0;
      font-size: small;
      font-family: Verdana, sans-serif;
}

h1, h6{
      width: 100%;
      text-align: center;
}

h1 {
      color: #ff4500;
      font-size: xx-large;
}

h6 {      
      font-size: small;
}

body {
      width: 100%;
      height: 100vh;
      padding: 0;
      margin: 0;
      background-color: #dcdcdc;
}

body::-webkit-scrollbar {
      width: 0;
      height: 0;
}

#container {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

#context {
      width: 300px;
      height: 50%;
      padding: 10px;
      background-color: #FFF;
      scrollbar-width: 5px;
}

#listaTarefas,
#tarefas {
      width: 100%;
      height: auto;
}

#tarefas {
      overflow-y:auto;
      overflow-x: hidden;
      padding: 0;
}

#info {      
      display: flex;
      justify-content: space-between;
      align-items: center;
}

#tarefa:focus,
#semana:focus {
      border: 1px solid #dcdcdc;
      outline: #dcdcdc;
}

#semana,
#disciplina {
      height: 40px;
      padding: 2.5px;
      border: 1px solid #dcdcdc;
}

#semana {
      width: 100%;
}
#disciplina {
      width: 97.5%;
}

#tarefa,
#tarefa::placeholder {
      color: #ff4500;
}

button {
      width: 100%;
      height: 40px;
      font-weight: 700;
      border: 1px solid #dcdcdc;
      color: #FFF;
      background-color: #ff4500;
}

.item {
      width: 98%;
      height: 50px;
      padding: 0 5px;
      color: #FFF;
      background-color: #ff4500;
      border-bottom: 1px solid #FFF;
      border-top: 1px solid #FFF;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;      
}

td:nth-child(1),
td:nth-child(2) {
      width: 100%;
}

#adicionar {
      color: #000000;
      background-color: #dcdcdc;
} 

.remover {
      width: 40px;
      border: 0;
}

#header {
      width: 100%;
      height: 120px;
      padding: 2.5px 0;
      background-color: #FFF;
}
